---
import NormalPageLayout from "../layouts/NormalPageLayout.astro";
---
<NormalPageLayout title="Rólunk" href="/about-us">
    <span slot="title">Rólunk</span>
    <span slot="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</span>

    <Fragment slot="content">
        Asd
    </Fragment>
</NormalPageLayout>
