---
import NormalPageLayout from "../layouts/NormalPageLayout.astro";
import Markdown from '../util/markdown';

import { terms } from '../content/general/legal.json';

const renderedContent = Markdown.render(terms);
---
<NormalPageLayout title="Rólunk" href="/about-us">
    <span slot="title">Általános Szerződési Feltételek</span>

    <Fragment slot="content">
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div set:html={renderedContent} class="px-5 md:px-0 md:w-2/3 mx-auto">
            </div>
        </section>
    </Fragment>
</NormalPageLayout>
