---
import NormalPageLayout from "../layouts/NormalPageLayout.astro";
import Room from "../components/Room.astro";
import { getCollection } from "astro:content";
import { subtitle, content } from '../content/fixed-pages/rooms.json';
import Markdown from "../util/markdown";

const roomsCollection = await getCollection("rooms");

const renderedContent = Markdown.render(content);
---
<NormalPageLayout title="Szobáink" href="/rooms">
    <Fragment slot="head">
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script>
            document.addEventListener("alpine:init", () => {        
                Alpine.data("gallery", () => ({
                    imageGalleryOpened: false,
                    imageGalleryActiveUrl: null,
                    imageCount: 0,
                    imageGalleryActiveIndex: 0,
                    imageGalleryEl: null,


                    init() {
                        this.imageGalleryEl = this.$el
                        const imageTags = this.imageGalleryEl.querySelectorAll('img')
                        this.imageCount = imageTags.length
                    },

                    imageGalleryOpen(el) {
                        const imageElement = el.querySelector('img');

                        this.imageGalleryActiveUrl = imageElement.src;
                        this.imageGalleryOpened = true;

                        const imageClasses = imageElement.className;
                        console.log(imageClasses)
                        const activeIndexPlusCruft = imageClasses.split('img-')[1]
                        const activeIndexAsText = activeIndexPlusCruft.split(' ')[0]
                        this.imageGalleryActiveIndex = parseInt(activeIndexAsText);
                    },
                    imageGalleryClose() {
                        this.imageGalleryOpened = false;
                        setTimeout(() => this.imageGalleryActiveUrl = null, 300);
                    },
                    imageGalleryPrev() {
                        if (this.hasPreviousImage) {
                            this.imageGalleryActiveIndex--;
                            this.imageGalleryActiveUrl = this.srcForIndex(this.imageGalleryActiveIndex);
                        }
                    },
                    imageGalleryNext() {
                        if (this.hasNextImage) {
                            this.imageGalleryActiveIndex++;
                            this.imageGalleryActiveUrl = this.srcForIndex(this.imageGalleryActiveIndex);
                        }
                    },
                    get hasPreviousImage() {
                        return this.imageGalleryActiveIndex > 0;
                    },
                    get hasNextImage() {
                        return this.imageGalleryActiveIndex < this.imageCount - 1;
                    },
                    srcForIndex(index: number): string {
                        return this.imageGalleryEl.querySelector(`img.img-${index}`).src
                    }
                }))
            })
        </script>
    </Fragment>

    <span slot="title" class="block">
        Szobáink
    </span>
    <span slot="description">
        {subtitle}
    </span>



    <Fragment slot="content">
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div set:html={renderedContent} class="prose lg:prose-xl prose-p:text-justify px-5 md:px-0 md:w-2/3 mx-auto">
            </div>
        </section>
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div class="flex flex-col gap-y-10 px-5 md:px-0 md:w-2/3 mx-auto">
                {roomsCollection.map(room => (
                    <Room collectionEntry={room}>
                    </Room>
                ))}
            </div>
        </section>
    </Fragment>
</NormalPageLayout>
