---
import NormalPageLayout from "../layouts/NormalPageLayout.astro";
import Room from "../components/Room.astro";
import { getCollection } from "astro:content";
import { subtitle, content } from '../content/fixed-pages/rooms.json';
import Markdown from "../util/markdown";

const roomsCollection = await getCollection("rooms");

const renderedContent = Markdown.render(content);
---
<NormalPageLayout title="Szobáink" href="/rooms">
    <Fragment slot="head">
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script>
            document.addEventListener("alpine:init", () => {        
                Alpine.data("gallery", () => ({
                    imageGalleryOpened: false,
                    imageGalleryActiveUrl: null,
                    imageSrcs: [],
                    
                    init() {
                        const imageTags = this.$el.querySelectorAll('img')

                        this.imageSrcs = Array.from(imageTags).map(img => img.src)
                    },

                    imageGalleryOpen(el) {
                        const imageElement = el.querySelector('img');

                        this.imageGalleryActiveUrl = imageElement.src;
                        this.imageGalleryOpened = true;
                    },
                    imageGalleryClose() {
                        this.imageGalleryOpened = false;
                        setTimeout(() => this.imageGalleryActiveUrl = null, 300);
                    },
                    imageGalleryPrev() {
                        if (this.hasPreviousImage) {
                            this.imageGalleryActiveUrl = this.imageSrcs[this.activeImageIndex - 1];
                        }
                    },
                    imageGalleryNext() {
                        if (this.hasNextImage) {
                            this.imageGalleryActiveUrl = this.imageSrcs[this.activeImageIndex + 1];
                        }
                    },
                    get activeImageIndex() {
                        return this.imageSrcs.indexOf(this.imageGalleryActiveUrl);
                    },
                    get hasPreviousImage() {
                        return this.activeImageIndex > 0;
                    },
                    get hasNextImage() {
                        return this.activeImageIndex < this.imageSrcs.length - 1;
                    }
                }))
            })
        </script>
    </Fragment>

    <span slot="title" class="block">
        Szobáink
    </span>
    <span slot="description">
        {subtitle}
    </span>



    <Fragment slot="content">
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div set:html={renderedContent} class="prose lg:prose-xl prose-p:text-justify px-5 md:px-0 md:w-2/3 mx-auto">
            </div>
        </section>
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div class="flex flex-col gap-y-10 px-5 md:px-0 md:w-2/3 mx-auto">
                {roomsCollection.map(room => (
                    <Room collectionEntry={room}>
                    </Room>
                ))}
            </div>
        </section>
    </Fragment>
</NormalPageLayout>
