---
import NormalPageLayout from "../../layouts/NormalPageLayout.astro";
import Sight from "../../components/Sight.astro";
import { getCollection } from 'astro:content';

const sightsCollection = await getCollection("sights");
---
<NormalPageLayout title="L치tnival칩k" href="/extras">
    <span slot="title" class="block">
        L치tnival칩k
    </span>
    <span slot="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex esse rem unde iusto laboriosam?</span>
    <Fragment slot="content">
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div class="flex flex-col gap-y-10 px-5 md:px-0 md:w-2/3 mx-auto">
                {sightsCollection.map(sight => (
                    <Sight collectionEntry={sight}>
                    </Sight>
                ))}
            </div>
        </section>
    </Fragment>
</NormalPageLayout>
