---
import path from 'node:path'

import NormalPageLayout from "../../layouts/NormalPageLayout.astro";
import Sight from "../../components/Sight.astro";
import { getCollection, render } from 'astro:content';
import { getImage } from 'astro:assets';
import type { ImageMetadata } from "astro"

const sightsCollection = await getCollection("sights");

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');

for (const sight of sightsCollection) {
    sight.content = (await render(sight)).Content;
    sight.data.image = images["/" + sight.data.image]();
}
---
<NormalPageLayout title="L치tnival칩k" href="/extras">
    <span slot="title" class="block">
        L치tnival칩k
    </span>
    <span slot="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex esse rem unde iusto laboriosam?</span>
    <Fragment slot="content">
        <section class="w-full py-5 md:py-10 bg-gray-50">
            <div class="flex flex-col gap-y-10 px-5 md:px-0 md:w-2/3 mx-auto">
                {sightsCollection.map(sight => (
                    <Sight {...sight.data}>
                        <sight.content />
                    </Sight>
                ))}
            </div>
        </section>
    </Fragment>
</NormalPageLayout>
