---
import Assets from '../../util/assets'
import type { CollectionEntry } from 'astro:content'

interface Service extends CollectionEntry<'services'> {
    iconSvg?: string
}

interface Props {
    services: Service[]
}

const { services } = Astro.props

for (const service of services) {
    service.iconSvg = await Assets.getSvg(service.data.icon, {
        addClasses: 'size-10 shrink-0',
        strokeWidth: 1,
    })
}
---

<section class="w-full py-5 bg-gray-50">
    <div class="px-5 md:px-0 md:w-2/3 mx-auto flex flex-col gap-y-2 md:flex-row md:gap-x-2 md:justify-evenly">
        {services.map(service => (
            <a href={"/services/" + service.id} class="bg-white hover:shadow-lg hover:bg-green-50 border border-gray-200 shadow-sm rounded-lg">
                <div class="p-4 h-full w-full flex flex-row gap-x-5 items-center">
                    <div set:html={service.iconSvg} class="text-green-700">
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <div class="text-lg md:text-md text-gray-800">
                            {service.data.title}
                        </div>
                        <div class="hidden text-lg md:block md:text-sm text-gray-800">
                            {service.data.subtitle}
                        </div>
                    </div>
                    
                </div>
            </a>
        ))}    
    </div>
</section>
