---
---

<section class="w-full py-10 bg-stone-600 min-h-[50vh]">
    <div class="md:w-2/3 h-full mx-auto">
        <h2 class="px-5 sm:px-0 w-full text-center text-white text-4xl font-semibold playfair-display">
            Örömmel várunk!
        </h2>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-y-5 pt-10">
            <div class="px-5 sm:px-0 h-full flex flex-col gap-y-5 justify-center">
                <div class="flex flex-col gap-y-2 text-stone-300 text-xl font-light">
                    <p>
                        4000 Nyírbátor, Kossuth Lajos utca 1.
                    </p>
                    <p>
                        Telefon: +36 30 123 4567
                    </p>
                    <p>
                        Email: goodplace@goodplace.hu
                    </p>
                </div>
                <div class="flex gap-x-2">
                    <a class="inline-flex items-center text-gray-800 bg-stone-300 hover:bg-stone-200 p-1.5 rounded-full focus:outline-none focus:bg-gray-100" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 size-6 lucide lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
                    </a>

                    <a class="inline-flex items-center text-gray-800 bg-stone-300 hover:bg-stone-200 p-1.5 rounded-full focus:outline-none focus:bg-gray-100" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 size-6 lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
                    </a>
                </div>
                <div>
                    <img class="shadow-md rounded-lg w-2/3" src="/szepkartya.png">
                </div>
            </div>
            <div>
                <h3>
                    Itt lesz a térkép.
                </h3>
            </div>
        </div>
    </div>
</section>
